@charset "ISO-8859-1";

.picture{
	width: 15%;
	height: 15%;
}
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}